/node_modules
/styles/libs/sprite.less
/styles/libs/sprite-hover.less
/styles/libs/svg.less
/img/design/sprite/sprite.png
/css
/docs/svg.html
/img/design/sprite/sprite-hover.png
/img/design/svg/icon-font/svg.eot
/img/design/svg/icon-font/svg.svg
/img/design/svg/icon-font/svg.ttf
/img/design/svg/icon-font/svg.woff
/*.xlsx
